@use "_variables" as vt;

@media (min-width: 1200px) {
  div.desktop {
    display: flex;

    .sra img {
      max-width: 550px;
    }

    div.header-background {
      background-color: vt.$black;
      width: 470px;
      max-height: 816px;
    }
  }

  section.header {
    margin-right: 100px;

    h1 {
      position: absolute;
      right: 665px;
      top: 28px;
      color: white;
      width: 1000px;
      max-width: 434px;
      font-size: 100px;
    }
  }

  section.header {
    div.btn a.texto {
      text-decoration: none;
      padding: 15px 20px;
      letter-spacing: 2px;
      border: 0;
      font-size: 1em;
    }

    div.btn a.flecha {
      text-decoration: none;
      padding: 11.7px 12px;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2em;
    }
  }
}

/* aca empieza la pagina 2 */

@media (min-width: 1200px) {
  header.maps {
    height: 635px;
    max-width: 100%;
    background-image: url(../../img/maps-desk.png);
    background-repeat: no-repeat;
    background-size: cover;

    div.btn a.texto {
      background-color: vt.$black;
      color: vt.$white;
      text-decoration: none;
      padding: 25px 30px;
      font-family: vt.$primary-font;
      letter-spacing: 4px;
      border: 0;
      font-size: 20px;
    }
    div.btn a.flecha {
      background-color: vt.$orange;
      color: vt.$white;
      text-decoration: none;
      padding: 23.9px 25px;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.btn {
      margin-left: 165px;
    }
  }
}
