$orange: rgba(213, 150, 108, 1);
$black: rgba(21, 21, 21, 1);
$grey: rgba(68, 68, 68, 1);
$white: rgba(255, 255, 255, 1);

$primary-font: "big shoulders", sans-serif;
$secondary-font: "outfit", sans-serif;
